################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.lock
/VS/SLT Printer + SharpGL/SLT Printer/bin/Debug/20191012 114759.log
/VS/SLT Printer + SharpGL/SLT Printer/bin/Debug/20191012 114620.log
/VS/SLT Printer + SharpGL/SLT Printer/bin/Debug/20191012 114442.log
/VS/SLT Printer + SharpGL/SLT Printer/bin/Debug/20191012 114342.log
/VS/SLT Printer + SharpGL/SLT Printer/bin/Debug/20191012 114227.log
/VS/SLT Printer + SharpGL/SLT Printer/bin/Debug/20191012 112055.log
/VS/SLT Printer + SharpGL/SLT Printer/bin/Debug/20191011 194659.log
/VS/SLT Printer + SharpGL/SLT Printer/bin/Debug/20191011 192932.log
/VS/SLT Printer + SharpGL/SLT Printer/bin/Debug/20191010 185945.log
/VS/SLT Printer + SharpGL/SLT Printer/bin/Debug/20191010 184235.log
/VS/SLT Printer + SharpGL/SLT Printer/bin/Debug/20191010 183711.log
/VS/SLT Printer + SharpGL/SLT Printer/bin/Debug/20191010 183429.log
/VS/SLT Printer + SharpGL/SLT Printer/bin/Debug/20191010 182428.log
/VS/SLT Printer + SharpGL/SLT Printer/obj/x86/Release/SLT Printer.csprojAssemblyReference.cache
/VS/SLT Printer + SharpGL/SLT Printer/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
/VS/SLT Printer + SharpGL/SLT Printer/obj/x86/Release/DesignTimeResolveAssemblyReferences.cache
